:root {
  --cor-um: #ec7c23;
  --cor-dois: #f0964f;
  --cor-tres: #f6be91;
  --cor-quatro: #f9d8bd;
  --cor-cinco: #fdf2e9;
}

#content {
  padding: 1.5em;
  width: calc(100vw - 30px);
  height: calc(100vh - 65px);
  overflow: auto;
}

body {
  background-color: var(--cor-cinco);
  color: #565656;
}

#navbar {
  width: 100%;
  height: 65px;
  position: sticky;
  background-color: var(--cor-dois);
  overflow: hidden;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
  color: var(--cor-cinco) !important;
}

.img-perfil {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.logo-unecont {
  height: 40px;
  mix-blend-mode: multiply;
}

.navbar {
  justify-content: space-between;
}

#sidebar {
  height: calc(100vh - 65px);
  width: 60px;
  overflow: hidden;
  position: sticky;
  display: inline-flex;
  background-color: var(--cor-tres);
  box-shadow: 0px 8px 3px rgba(0, 0, 0, 25%);
  border-radius: 0 15px 15px 0;
}

#sidebar .icon {
  color: var(--cor-cinco) !important;
}

.seta {
  position: absolute;
  left: 40px;
  top: calc(50%);
  font-size: 1.5em;
  color: var(--cor-cinco);
  background-color: var(--cor-tres);
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 999;
  cursor: pointer;
  outline: solid 2px var(--cor-cinco);
}

.expande:not(.seta) {
  width: 200px !important;
}

.expande.seta {
  left: 165px !important;
  rotate: 180deg !important;
}

.nav-link:hover {
  background-color: #ec7c23;
  cursor: pointer;
  color: var(--cor-cinco);
  height: 75px;
}

.nav {
  width: 100%;
}

.navbar-brand {
  cursor: pointer;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 5px;
  display: flex;
  padding: 1em;
  text-align: center;
  justify-content: center;
  align-items: center;
}
